

/*1. CSS adjustments for Media Queries --------------------------*/
/*---------------------------------------------------------------*/


/*until 1024 ipad landscape */

/*@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {*/
@media screen and (max-width: 1024px){
	body {
		/*blau*/
/*		background: #C59191;*/
	}



/*1. Service Navigation  ----------------------------------------*/
/*---------------------------------------------------------------*/
	
	/*Service nav is horizontally */
	.servicenav ul li{
		font-size:1em;
		width: 8em;
		display: inline;
		padding-top: 1.4em;
		color:#111;
		padding: 0.3em;
		border: 1px solid #999;
		border-radius: 3px;
	}
	
	.servicenav ul li a:link{
		border: none;
		-moz-transition:all 0.3s ease-in;
		-webkit-transition:all 0.3s ease-in;
		transition:all 0.3s ease-in;
	}
	
	.servicenav ul li a:hover{
		color:#A33;
		border-bottom: none;
		-moz-transition:all 0.3s ease-in;
		-webkit-transition:all 0.3s ease-in;
		transition:all 0.3s ease-in;	
	}

	.sub-active a{
		color: #68b8de;
	}
	
	.active{
		color:#A33;
		-moz-transition:all 0.3s ease-in;
		-webkit-transition:all 0.3s ease-in;
		transition:all 0.3s ease-in;
	} 

/* Headerpannel ------------------------------------------------*/
/*---------------------------------------------------------------*/

	.headerpannelbox h3{
		font-size: 3rem;
		line-height: 2.6rem;
		padding-top: 1rem;
	}
	
	.slidertext p {
		font-size: 1.2rem;
		line-height: 1.6rem;
		margin-bottom: 0.2rem;
	} 

	.headerpannelbox {
		top: 1rem;
		height: 16vh;
	}
	
/*1. text adjustments--  ----------------------------------------*/
/*---------------------------------------------------------------*/

	.textbox{
		margin-right:1em;
		background:rgba(33, 33, 33, 0.4);
		padding-left:1em;
	}
	
	.textbox h2{
		font-size:1.6em;
		letter-spacing:0.1em;
		font-weight:200;
		text-transform:capitalize;
	}
	
	.textbox h3{
		font-size:1.1em;
		letter-spacing:0.0em;
		font-weight:300;
	}	
		
	.textbox p{
		padding-top: 1em;
		font-size:1em;
		font-weight:300;
		line-height:1.6em;
		word-spacing:normal;
	}


/*1. WebFormular ------------------------------------------------*/
/*---------------------------------------------------------------*/

	.webform input{
		height: 2.6em;
		width:80%;
		margin:0;
	}

	.webform textarea{
		width:82%;
		max-width:82%;
		margin:0;
		resize: none;
  		overflow: auto;
	}
	
	#submit-btn{
		font-weight:200;
		letter-spacing:0.1em;
		width:82%;
	}	
	

/* end of mq 1024*/
}


/*mobile */
@media screen and (max-width: 768px) {
	body {
		background: #FFF;
	}
	
	.global {
		line-height: 2rem;
	}
	
	.logo {
		margin-left: 0;
	}
	
	.logo img {
		max-width: 90px;
	}
	
	.themennav {
		font-size: 1.5rem;
	}
	.themennav ul{
		padding-left: 0px;
	}
	
	.themennav li {
		display: block;
		text-align: right;
		margin-right: 0;
		margin-bottom: 0.5rem;
	}
	
	
	.subnav ul {
		padding-left: 10px;
	}
	.subnav a {
		border-top: 0;
		padding-top: 0;
	}
	
	.sub-active {
		color: #68b8de;
	}
	
	
	.headerpannelbox h3{
		font-size: 2rem;
		line-height: 1.6rem;
		padding-top: 0.7rem;
		padding-left: 0.7rem;
	}
	
	.slidertext p {
		font-size: 1.1rem;
		line-height: 1.2rem;
		margin-bottom: 0.2rem;
		display: none;
	} 

	.headerpannelbox {
		top: 0.5rem;
		left: 0;
		height: auto;
	}
	
	.button {
		display: none;
	}
	
	.supertitle {
		font-size: 2.1rem;
	}
	
	
	.spacerow {
		padding-bottom: 1rem;
	}
	
	.footer{
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-top: 1rem;
	}
	
	.footernav {
		text-align: right;
	}
}

